* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
	color: #333;
	outline: none;
	zoom: 1;
	background: #f0f0f0;
	line-height: 22px;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.container {
	max-width: 1250px;
}
.color-ff5722 {
   color: #ff5722;
}
.checked {
  color: orange;
}
.title-page {
	display: block;
    line-height: 1.3em;
    font-size: 20px;
    color: #333;
    padding: 20px 15px;
}
